body {
  background-color: #f2f2f2;
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  color: rgb(58, 57, 57);
  font-size: 20px;
}


/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  color: #555;
}

.centered {
  text-align: center;
}

.goleft {
text-align: left;
}

/* Links */
a {

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
  font-size: small;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
font-size: 14px;
background: #4e0b0b96;
}

.navbar-fixed-top {
border-width: 0 0 0px;
border-bottom-width: 0px;
}
/* ================== BASIC CONFIGURATION ================== */

.spacing i {
padding-left: 8px;
padding-right: 8px
}
/* margin top & Bottom */
.mt {
margin-top: 50px;
margin-bottom: 50px;
}

/* Special Margin for Wrap sections */
.mts {
margin-top: -20px;
}


/* Padding top & bottom */
.pt {
padding-top: 15px;
padding-bottom: 15px;
}

/* Description Styling / Used in portfolio & Blog images footnotes */
.desc p {
font-family: 'Ruda', sans-serif;
font-size: 16px;
font-weight: 700;
margin-top: 15px;
}

.desc p > i {
font-size: 16px;
color: #979797;
}

.desc p > i:hover {
font-size: 16px;
color: #e74c3c;
cursor: pointer;
}

.desc p.lead {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: -15px;
}

.desc p.time {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0px;
color: #979797;
text-align: right;
}

.desc p.time > i {
font-size: 12px;
}


/* Dashed Separator */

hr-d {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}


p.capitalize {
display:block;
text-align: left;
}

p.capitalize:first-letter {
text-transform:capitalize;
font-size: 30px;
font-family: 'Ruda', sans-serif;
font-weight: 400;
color:white;
padding-left:10px;
padding-right:10px;
margin-right:5px;
}


/* Button Call To Action */
.btn-cta {
color: #ffffff;
background-color: transparent;
border-color: #ffffff;
font-family: 'Ruda', sans-serif;
font-size: 13px;
letter-spacing: 2px;
margin-bottom: 25px;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
color: #2f2f2f;
background-color: #ffffffc0;
border-color: #2f2f2f;
}

/* ================== MAIN WRAP SECTIONS ================== */

#headerwrap {
background: url(../img/feuillage.jpg) no-repeat center top;
margin: 0;
padding: 50px;
background-attachment: fixed;
background-position: center;
min-height: 100px;
width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
margin-top: 60px;
color: white;
font-size: 20px;
font-weight: 900;
letter-spacing: 1px;
visibility: hidden;
}

#headerwrap h2 {
color: white;
visibility: hidden;

}

#headerwrap .img-responsive {
margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
}
      
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 2px;
}
      
.pagination li {
  margin: 0 1px;
}

/* Footer Wrap */

#f {
background-color: #1b1b1b;
padding-top: 40px;
padding-bottom: 40px;
}

#f p {
color: white;
}

#f h4 {
color: white;
}

/* Copyrights */

#copyrights {
background: #282727;
padding: 20px 0;
text-align: center;
}

#copyrights p {
margin-bottom: 5px;
color: #fff;
}

#copyrights a {
color: #74c9be;
}

.credits {
color: #999;
}
